{% extends 'homepage.html' %}
{% block addcss %}
 <link rel="stylesheet" href="{{url_for('static',filename='addnotes.css')}}">
{% endblock %}
{% block content %}
<br>
    <div class="container">
        <h1>Add notes</h1>
        <form>
            <label for="titleField">Title:</label>
            <input type="text" id="titleField" placeholder="Enter a title..." />

            <label for="contentField">Content:</label>
            <textarea id="contentField" class="content-field" placeholder="Write your content..."></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
